<div class="container">
  <div class="content">
    <h1 class="superstar-title">SUPERSTAR</h1>
    <p class="tagline">PAST, PRESENT, FUTURE</p>
    <p class="explore-text">
      Explore the Superstar, now updated for the next generation.
    </p>
    <div class="button-container">
      <button routerLink="/Football" class="shop-btn">SHOP Football</button>
      <button routerLink="/Golf" class="shop-btn">SHOP Golf</button>
      <button routerLink="/Volleyball" class="shop-btn">SHOP Volleyball</button>
    </div>
  </div>
  <div class="image-container">
    <img
      src="https://brand.assets.adidas.com/image/upload/capi/video/1839141-seo-adidas-virtual-backgrounds-body-image-1_221-691437.jpg"
      alt="Superstar Shoes"
      class="shoe-image"
    />
  </div>
</div>

<div class="product-container">
  <div class="product-card">
    <img
      src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto:best,fl_lossy/if_w_gt_800,w_800/hc_ss25_springbreakfestival_day_tcc_1_head_to_toe_mw_d_bfc1917384.jpg"
      alt="adidas x Golf"
      class="product-image"
    />
    <div class="product-info">
      <h2>adidas x Golf</h2>
      <p>Craft your world, play your game.Build your dreams.</p>
      <button routerLink="/Golf" class="shop-btn">SHOP NOW</button>
    </div>
  </div>
  <div class="product-card">
    <img
      src="https://cdn.shopify.com/s/files/1/0726/1562/4977/files/electric-4-min_480x480.jpg?v=1721919286"
      alt="ADIZERO EVO SL"
      class="product-image"
    />
    <div class="product-info">
      <h2>Nike MERCURIAL</h2>
      <p>Evo SL gives you fast in all aspects of life.</p>
      <button
        [routerLink]="['/', 'Football', 'Nike Mercurial Superfly 10 Elite']"
        [queryParams]="{ id: 3 }"
        class="shop-btn"
      >
        SHOP NOW
      </button>
    </div>
  </div>
  <div class="product-card">
    <img
      src="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/b6987577-bc90-4c63-b02a-d8dc2e2e45dd/nike-basketball.png"
      alt="METAMORPHOSIS PACK"
      class="product-image"
    />
    <div class="product-info">
      <h2>METAMORPHOSIS BASKETBALL</h2>
      <p>
        Adapt. Compete. Evolve. Explore the collection designed to own the game.
      </p>
      <button routerLink="/Basketball" class="shop-btn">SHOP NOW</button>
    </div>
  </div>
  <div class="product-card">
    <img
      src="https://i.pinimg.com/736x/78/22/77/782277e7b46dcdea68307804aaef7ffa.jpg"
      alt="ON THE ROAD TO SPRING"
      class="product-image"
    />
    <div class="product-info">
      <h2>ON THE ROAD TO SPRING</h2>
      <p>Coordinate with your crew in fresh takes on 3-Stripes staples.</p>
      <button routerLink="/Volleyball" class="shop-btn">SHOP NOW</button>
    </div>
  </div>
</div>
<div class="desc">
  <div class="container-2">
    <h1>A Leader in Sports</h1>
    <h2>Innovation and Excellence Since 1995</h2>
    <br />
    <p>
      We are inspired by movement. Our mission is to provide the best sports
      equipment, footwear, and apparel for everyone who lives and breathes
      sports. From professionals to enthusiasts, we offer only trusted brands
      and cutting-edge technologies to ensure maximum comfort and efficiency in
      every workout.We are driven by athletes. From the very first sports gear
      innovations to the latest technological breakthroughs, our mission is to
      provide the best equipment for champions and everyday enthusiasts alike.
      Our products are trusted by world record holders, fitness lovers, and
      weekend warriors who strive for excellence in every step.
    </p>
    <br />
    <p>
      Our selection includes iconic sports shoes, comfortable apparel, and
      accessories for fitness, running, football, basketball, and outdoor
      activities. We collaborate with global brands to bring you the best of the
      sports world.
    </p>

    <br />
    <p>
      Sports fashion has long transcended stadiums. Sneakers and apparel from
      top brands have become a part of urban style, self-expression, and
      freedom. We present collections inspired by street culture and legendary
      models of the past, reimagined for a new generation.Stay in motion. Choose
      quality. Achieve more.
    </p>
    <img id="logo" src="/logo-removebg-preview.png" alt="" />
  </div>
</div>
