<app-nav></app-nav>
<div class="main">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footer-container">
    <!-- PRODUCTS -->
    <div class="footer-column">
      <h3>Sports</h3>
      <ul>
        <li><a routerLink="/Football">Football</a></li>
        <li><a routerLink="/Basketball">Basketball</a></li>
        <li><a routerLink="/Golf">Golf</a></li>
        <li><a routerLink="/Volleyball">Volleyball</a></li>
        <li><a href="#">Gift Cards</a></li>
      </ul>
    </div>

    <!-- SUPPORT -->
    <div class="footer-column">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">Returns & Exchanges</a></li>
        <li><a href="#">Order Tracker</a></li>
        <li><a href="#">Store Locator</a></li>
        <li><a href="#">Size Charts</a></li>
        <li><a href="#">Gift Card Balance</a></li>
        <li><a href="#">How to Clean Shoes</a></li>
        <li><a href="#">Bra Fit Guide</a></li>
        <li><a href="#">Breathing for Running</a></li>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>

    <!-- COMPANY INFO -->
    <div class="footer-column">
      <h3>Company Info</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Student Discount</a></li>
        <li><a href="#">Military & Healthcare Discount</a></li>
        <li><a href="#">Stories</a></li>
        <li><a href="#">Apps</a></li>
        <li><a href="#">Impact</a></li>
        <li><a href="#">People</a></li>
        <li><a href="#">Planet</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
